* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2E2E2E;
}
@import "varibles/mixin";
@import "blocks/header";
@import "blocks/container";
@import "blocks/first-section";
@import "blocks/second-section";
@import "blocks/third-section";
@import "blocks/fourth-section";
@import "blocks/footer";
