footer {
    @include display ($displayflex: flex, $alignitem: center, $justifycontent: center, $flexdirection: none, $gap: 10px);
    @include heigthvswidth ($heigth: 100%, $width: 100%);
    background: #363636;
    padding: 0 100px;
    text-align: center;

    @if phone {
        @media (max-width: 650px) {
            padding: 30px 30px;
        }
    }
}

.footer-blog {
    width: 100%;
    padding-top: 50px;
    @include  grid ($display: grid, $split: 3, $num: 1fr, $row: 165px, $grid-gap: none);

    @if lgdesktop {
        @media (max-width: 1200px) {
            @include display ($displayflex: flex, $alignitem: center, $justifycontent: center, $flexdirection: none, $gap: 50px);
            @include  grid ($display: grid, $split: 3, $num: 1fr, $row: 165px, $grid-gap: none);
        }
    }

    @if desktop {
        @media (max-width: 992px) {
            @include  grid ($display: grid, $split: 2, $num: 1fr, $row: 165px, $grid-gap: none);
        }
    }

    @if phone {
        @media (max-width: 650px) {
            @include  grid ($display: grid, $split: 1, $num: 1fr, $row: 165px, $grid-gap: none);
        }
    }

    .footer-blog-item:last-child {
        @if desktop {
            @media (max-width: 992px) {
                position: relative;
                top: 0;
                left: calc(60%);
                transform: (-50%, 0%);
            }
        }

        @if phone {
            @media (max-width: 650px) {
                position: relative;
                top: 0;
                left: 0;
            }
        }
    }

    .footer-blog-item h4 {
        @include font($fontweigth: 500, $fontsize: 25px, $lineheigth: 19px, $color: $white, $opacity: none, $textdecoration: none); 
        margin-bottom: 25px;  
    }

    .footer-blog-item p {
        margin: 15px 0;
        @include font($fontweigth: normal, $fontsize: 20px, $lineheigth: 14px, $color: $white, $opacity: 0.7, $textdecoration: none); 
    }
}