.second-section {
    @include display ($displayflex: flex, $alignitem: center, $justifycontent: center, $flexdirection: none, $gap: 30px);

    @if lgdesktop {
        @media (max-width: 1200px) {
            text-align: center;
            @include display ($displayflex: block, $alignitem: center, $justifycontent: center, $flexdirection: none, $gap: 30px);
        }
    }
    
    .second-section-left-side {
        @if phone {
            @media (max-width: 576px) {
                padding: 0 20px;
            }
        }
    }
    .second-section-left-side > h2 {
        @include font($fontweigth: 500, $fontsize: 38px, $lineheigth: 20px, $color: $white, $opacity: none, $textdecoration: none); 
    }

    .second-section-left-side > p {
        margin-top: 26px;
        @include font($fontweigth: normal, $fontsize: 16px, $lineheigth: 23px, $color: $white, $opacity: 0.7, $textdecoration: none); 
    }

    .second-section-left-side-container {
        margin-top: 60px;
        @include display ($displayflex: flex, $alignitem: center, $justifycontent: none, $flexdirection: none, $gap: 30px);

            @if lgdesktop {
                @media (max-width: 1200px) {
                    @include display ($displayflex: flex, $alignitem: center, $justifycontent: center, $flexdirection: none, $gap: 30px);
                    margin-bottom: 100px;
                }
            }

            @if phone {
                @media (max-width: 576px) {
                    @include display ($displayflex: block, $alignitem: center, $justifycontent: none, $flexdirection: none, $gap: 30px);
                }
            }

        p:nth-child(2) {
            margin: 20px 0;
            @include font($fontweigth: 500, $fontsize: 16px, $lineheigth: 20px, $color: $white, $opacity: none, $textdecoration: none); 
        }

        p:nth-child(3) {
            @include font($fontweigth: 500, $fontsize: 20px, $lineheigth: 20px, $color: $orange, $opacity: none, $textdecoration: none); 
            margin-bottom: 55px;  
        }

        a {
            text-align: center;
            padding: 12px 28px 18px 28px;
            @include font($fontweigth: 500, $fontsize: 16px, $lineheigth: 20px, $color: $orange, $opacity: 0.9, $textdecoration: none); 
            border: 1px solid #834014;
            border-radius: 5px;

            &:hover {
                background-color: $orange;
                color: $white;
            }
        }

        .second-section-left-side-container-side:last-child {
            @if phone {
                @media (max-width: 576px) {
                    margin-top: 100px;
                }
            }
        }
    }

    .second-section-rigth-side {
        padding: 0 30px;
            img {
                @if phone {
                    @media (max-width: 576px) {
                       @include heigthvswidth ($heigth: 100%, $width: 100%);
                    }
                }
            }
        }
}