.third-section {
    margin-top: 130px;
    @include heigthvswidth ($heigth: 500px, $width: 100%);
    background: url("../../assets/images/third-section-images.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 124px;
    padding: 90px 50px;
    text-align: center;

    @if phone {
        @media (max-width: 576px) {
            padding: 90px 20px; 
        }
    }    

        h2 {
            @include font($fontweigth: 500, $fontsize: 38px, $lineheigth: 59px, $color: $white, $opacity: none, $textdecoration: none); 
                @if phone {
                    @media (max-width: 576px) {
                        @include font($fontweigth: 400, $fontsize: 25px, $lineheigth: 29px, $color: $white, $opacity: none, $textdecoration: none); 
                    }
                }
        }

        p {
            margin-top: 24px;
            @include font($fontweigth: normal, $fontsize: 16px, $lineheigth: 23px, $color: $white, $opacity: 0.7, $textdecoration: none); 
        }
}